@import 'vendors/bootstrap';

$mainColor:#1AC6FF;
$lightgray:#F0F0F0;
html,body{
	font-family:Lato,sans-serif
}
.active{
	color:darkgray;
	background-color:$mainColor;
}




// @media screen and (max-width:1140px){
// 	.firstinDrop{
// 		position:absolute !important;
// 		top:0 !important;
// 		right:100% !important;
// 	}
// }

#header{
	width:100%;
	height:640px;
	background:url('../images/background/low_poly_background.jpg') no-repeat center;
	background-size:cover;
	background-attachment:fixed;
	nav{
		.active{
			background-color:transparent !important;
			border-bottom:2px solid $mainColor
		}
		.navbar-brand{
			a{
				color:white;
				font-size:1.5em;
				font-weight:300;
				text-decoration: none;
				span{
					color:$mainColor
				}
			}
		}
		ul{
			li{				
				padding:5px 0;
				cursor:pointer;
				a{
					padding-left:10px;
					padding-right:10px;
					color:$lightgray;
					&:hover{
						background-color:transparent;
						color:$mainColor;
					}
					&:active{
						background-color:transparent !important;
						border-bottom:2px solid $mainColor
					}
				}
				a.signUp{
					padding:5px  20px !important;
					position: relative;
					top:10px;
					color:$mainColor;
					border:1px solid $mainColor;
					border-radius: 1px;
				}
			}
			.dropdown{
				position:relative;
			}
			.firstDrop{
				background-color:#332F26;
				color:white;
				width:200px;
				position:absolute;
				top:85%;
				left:-1px;
				li{
					padding:10px 20px;
					border-bottom:1px solid #333326;
					&:hover{
						background-color: black;
						color: #1AC6FF
					}
				}
			}
			.firstinDrop,.secondinDrop,.thirdinDrop{
				background-color:#332F26;
				list-style-type:none;
				li{
					position:relative;
					left:-20px;
					color:white;
					&:hover{
						background-color: transparent;
						color:$mainColor;
					}
				}
				box-shadow:0px 0px 3px black;
				display:none;
			}
			.firstinDrop{
				position:absolute;
				top:0;
				left:100%;				

			}

			.secondinDrop{
				position:absolute;
				top:17%;
				left:100%	
			}
			.thirdinDrop{
				position:absolute;
				top:34%;
				left:100%;			
			}
			.dropdown-toggle-active{
				width:80px;
				border-top:3px solid #1AC6FF;
				background-color:#332F26 !important;
				padding-top:-3px !important;
			}

		}
	}
	.row{
		&:nth-child(2) , &:last-child{
			position: relative;
			top:135px;
		}
		&:nth-child(2){
			h1{
				color:white;
				font-size:4em;
				font-weight:300;
				span{
					color:$mainColor
				}
			}
			h3{
				font-weight:300;
				color:white
			}
		}
		&:last-child{
			margin-top:20px;
			button{
				&:first-child{
					background-color:$mainColor;
					padding:10px 40px;
					color:white;
					word-spacing: 5px;
				}
				&:last-child{
					background-color:transparent;
					padding:10px 30px;
					border:1px solid white;
					color:white;
					margin-left:10px;
				}
			}
		}
	}
}


#firstSeperator {
	padding:30px 0;
	figure{
		transition:all 0.2s ease-in-out;
		margin:0 15px;
		position:relative;
		opacity: 0;
		&:first-child{
			margin-left:0;
		}	
		&:last-child{
			margin-right:0;
		}
		&:nth-child(odd){
			transform:translateY(-80px)
		}
		&:nth-child(even){
			transform:translateY(80px)
		}
		&.is-scrolling{
			opacity: 1;
			transform:translateY(0px) !important
		}
	}
}

#tabs{
	padding-top:60px;
	.row{
		&:first-child{
			ul{
				list-style-type: none;
				margin-bottom:50px;
				li{
					padding:20px 50px;
					border-radius:0;
					border:1px solid lightgray;
					color:$lightgray;
					display: inline-block;
					margin-right:-5px;
					cursor:pointer;
				}
			}
		}
		&:last-child{
			position:relative;
			overflow: hidden;
			.tabSlide{
				display: none;
				transition:all 0.3s ease-in-out;
			}
			.left-tab1,.left-tab2{
				transform: translateX(-700px);
			}
			.right-tab1,.right-tab2{
				transform: translateX(700px);				
				text-align:center;
			}
			.is-floating{
				opacity: 1;
				transform:translateX(0px);
				transition:all 0.3s ease-in-out;	
			}
			.left-tab2{
				padding-top:60px;
				text-align:center;
			}
		}
	}
}

#ageTech{
	padding-top:60px;
	.container{
		border-bottom:1px solid $lightgray
	}
	.row{
		position:relative;
		overflow: hidden;
	}
	.leftTech{
		transform:translateX(-700px);
		transition:all 0.3s ease-out;
		opacity: 0;
		h1{
			font-weight:300;
			span{
				color:$mainColor
			}
		}
		p{
			line-height: 30px;
			text-align: left;
			font-size:1.1em
		}
	}
	.rightTech{
		transform:translateX(700px);
		transition:all 0.3s ease-out;
		opacity: 0;
	}
	.is-techLeft-static{
		opacity: 1;
		transform:translateX(0px);
	}
}

#helmet{
	padding-top:60px;
	.row{
		position:relative;
		overflow:hidden;
	}
		.leftHelmet{
			transform: translateX(-700px);
			transition:all 0.3s ease-out;
			opacity:0;
		}
		.rightHelmet{
			transform: translateX(700px);
			transition:all 0.3s ease-out;
			opacity:0;
			h1{
				font-weight: 300;
				span{
					color:$mainColor;
				}
			}
			p{
				font-size:1.1em
			}
		}
		.is-hleft-static{
			opacity: 1; 
			transform: translateX(0px)
		}
}


@-webkit-keyframes stimgAnim{
	0%{
		opacity: 0;
		transform: rotateX(90deg)
	}

	100%{
		opacity: 1;
		transform: rotateX(0deg)
	}
}
@-webkit-keyframes ndlrmImgAnim{
	0%{
		transform:perspective(1000px) translate3d(0px,0px,-2500px) rotateY(90deg)
	}
	100%{
		transform:perspective(1000px) translate3d(0px,0px,0px)
	}
}

@-webkit-keyframes lastlrmAnim{
	0%{
		opacity: 0;
		transform:translateX(700px)
	}
	75%{
		transform:translateX(-50px)
	}
	100%{
		opacity: 1;
		transform:translateX(0px)
	}
}
#loremAnims{
	overflow:hidden;
	.loremActive{
		h4 , p{
			color:white !important;
		}
		background-color:$mainColor;
	}
	padding-top:10px;
	.col-md-3{
		.row{
			padding:10px;
			border-radius:10px 0 0 10px;
			cursor:pointer;
			&:first-child{
				margin-top:100px;
			}
			h4{
				font-weight: 500;
				color:$mainColor
			}
			p{
				color:gray;
				font-size:17px;
			}
		}
	}
	.col-md-9{
		.rightLorem{
			img{
				&:first-child{
					display:none;
					animation:stimgAnim 0.7s 1;
					transform-origin:bottom center;
					transform-style:preserve-3d;
					animation-play-state:paused;
				}
				&:nth-child(2){
					display:none;
					animation:ndlrmImgAnim 0.7s 1;
					transform-style: preserve-3d;
					animation-play-state:paused;
				}
				&:last-child{
					display:none;
					animation:lastlrmAnim 0.7s 1;
					animation-play-state:paused;
				}
			}			
		}
	}
}